<div class= "text-center">
<%if false%>
<%= image_tag("bible.jpg") %>
<%end%>
<h1>Upcoming Games</h1>

<form action="/teams" method="POST"> <button type="submit" class="btn btn-primary" > Get Latest Odds</button>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

</form>
<br>
<a href="/teams"> See all games </a>

</div>
<div class="text-center">
  <h4> Betable Games </h4>
</div>
<div class="container">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th> Bet </th>
        <th>Home team</th>
        <th> Away Team </th>
        <th> Home Line </th>
        <th>Away Line</th>
        <th> Draw Line </th> 
        <th> Date </th>       
      </tr>
    </thead>
    <tbody>
    	<%@results.each do |x|%>
      <tr>
          <% if x.game_id %>
          <% if x.date > @date %>
            
          <td> <a href="/bets/<%=x.id%>" class="btn btn-info" role="button">  Make  Bet </a> </td>
          
          
          <%end%>
          
          
        
        <td> <a href="/teams/<%=x.team1%>"> <%=x.team1%>  </td>
        <td> <a href="/teams/<%=x.team2%>"><%=x.team2%></td>
        <td> <%=x.home_line%> </td>
        <td> <%=x.away_line%> </td>
        <td> <%=x.draw_line%> </td>
          <td> <a href='/match/<%= x.id %>'><%=x.date%> </a><td>
        <%end%>
        
        
        
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
<div class="text-center">
  <h4> Other Future Games </h4>
</div>
<div class="container">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Home team</th>
        <th> Away Team </th>
        <th> Date </th>       
      </tr>
    </thead>
    <tbody>
      <%@results.each do |x|%>
      <tr>
        
          <% if x.date > @date %>
            <% if x.game_id==nil %>
        
          <td> <a href="/teams/<%=x.team1%>"> <%=x.team1%>  </td>
        <td> <a href="/teams/<%=x.team2%>"><%=x.team2%></td>
          <td> <a href='/match/<%= x.id %>'><%=x.date%> </a><td>
        <%end%>
        
        
        
      </tr>
      <%end%>
      <%end%>
    </tbody>
  </table>
</div>

</body>
</html>