<div class= "text-center">
<%= image_tag("Ageless-Male-sidebar.png") %>
<h1>Teams results</h1>

<form action="/teams" method="POST"> <button type="submit" class="btn btn-primary" > Refresh data </button>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

</form>
<br>
<a href="/teams/betable"> See only future games </a>
</div>

<div class="container">
<div class= "text-center">
  <h2>Betting Practice</h2>
</div>

  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th> Bet </th>
        <th>Home team</th>
        <th> Away Team </th>
        <th> Home Line </th>
        <th>Away Line</th>
        <th> Draw Line </th>
        <th>Score</th>
        <th> Date </th>
        
      </tr>
    </thead>
    <tbody>
      <%@practice.each do |x|%>
      <tr>
          <td> <a href="/practice/<%=x.id%>" class="btn btn-info" role="button">  Make Practice Bet </a> </td>
         <td><a href="/practice/team/<%=x.team1%>"><%=x.team1%></a> </td>
        <td><a href="/practice/team/<%=x.team2%>"><%=x.team2%></a></td>
        <td> <%=x.home_line%> </td>
        <td> <%=x.away_line%> </td>
        <td> <%=x.draw_line%> </td>
        <td>??? - ???</td>
        <td> <a href='/practice/match/<%= x.id %>'><%=x.date%></a> </td>
        
        
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container">
<div class= "text-center">
  <h2>Matches</h2>
</div>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th> Bet </th>
        <th>Home team</th>
        <th> Away Team </th>
        <th> Home Line </th>
        <th>Away Line</th>
        <th> Draw Line </th>
        <th>Score</th>
        <th> Date </th>
        
      </tr>
    </thead>
    <tbody>
    	<%@results.each do |x|%>

        <tr>
          <%if x.game_id %> 
            <% if x.date > @date %>
            <td> <a href="/bets/<%=x.id%>" class="btn btn-info" role="button">  Make Bet  </a> </td>
            <%else%>
            <td> <a href="/bets/<%=x.id%>"> Practice </a> </td>
            <%end%>
          <%else%>
            <td> N/A </td>
          <%end%> 
           <td> <a href="/teams/<%=x.team1%>"> <%=x.team1%>  </td>
          <td> <a href="/teams/<%=x.team2%>"><%=x.team2%></td>
          <td> <%=x.home_line%> </td>
          <td> <%=x.away_line%> </td>
          <td> <%=x.draw_line%> </td>
          <%if x.team1_goal <0 %>
          	<td> TBD</td>
          <%else%> 
          	<td><%=x.team1_goal%> - <%=x.team2_goal%></td>
          <%end%>
          <td> <a href='/match/<%= x.id %>'><%=x.date%> </a></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>