<div class= "text-center">
	<h1> <%=@team["team"]%> Recent Form </h1>
	<h3> <%=@team["team"]%> are currently number <%=@team["position"]%> in the table </h3>



<!-- <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Record</th>
        <th>Matches Played</th>
        <th> Goal Difference </th>
      </tr>
    </thead>
    <tbody>
    	
      <tr> -->

      	<h3> Record: <%=@team["overall"]["wins"]%> - <%=@team["overall"]["draws"]%> - <%=@team["overall"]["losts"]%> </h3>
      	<h3> Games: <%=@team["overall"]["matches_played"]%> </h3>
      	<h3> Goal Differential: <%=@team["overall"]["goal_difference"]%> </h3>
</div>        
  <!--    </tr>
</table>   -->      	
