<h3> <a href="/teams/<%=@game.team1%>"> <%=@game.team1%> </a> to win is <%= @game.home_line %> </h3>

<h3> <a href="/teams/<%=@game.team2%>"><%=@game.team2%></a> to win is <%= @game.away_line %> </h3>

<h3> The draw line is <%= @game.draw_line %> </h3>