<style>
	body {
		div#pic, div#edit {
			vertical-align: top;
		}
	}
</style>
<div class= "text-center">
	<div class="ad">
	<%= image_tag("kidding-me.png") %>
	</div>
	<div id="edit">
		<h2>Edit Profile</h2>
		<form action="/users" method="post">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type='hidden' name='_method' value='patch'>
			<p>Name: <input type="text" name="name" value="<%= @user.name %>"></p>
			<p>Birth-Date: <input type="date" name="birthdate" value="<%= @user.birthdate %>"></p>
			<p>Username: <input type="text" name="username" value="<%= @user.username %>"></p>
			<p>Email: <input type="text" name="email" value="<%= @user.email %>"></p>
			<p><input type="submit" name="submit" value="Update"></p>
		</form>
	</div>
</div>