<!DOCTYPE html>
<html>
<head>
  <title>BetProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div align="right">
  <% if session[:user_id] != nil %>
    <% if request.original_fullpath != "/teams/betable" %>
      <a href="/teams/betable">Upcoming Games</a> |
    <% end %>
    <% if request.original_fullpath != "/teams" %>
      <a href="/teams">All Games</a> |
    <% end %>
    <% if request.original_fullpath != "/teams/table" %>
      <a href="/teams/table">All Teams</a> |
    <% end %>
    <% if request.original_fullpath != "/users/edit" %>
      <a href="/users/edit">Edit Profile</a> |
    <% end %>
    <a href="/sessions/logout">Logout</a>
  <% end %>
</div>

<% if flash[:message] or flash[:error] %>
	<%= flash[:message] %>
	<%= flash[:error] %>
<% end %>

<%= yield %>

</body>
</html>
