<!DOCTYPE html>
<html>
<head>
  <title>BetProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%if false %>
<div align="right">
  <% if session[:user_id] != nil %>
    <% if request.original_fullpath != "/teams/betable" %>
      <a href="/teams/betable">Upcoming Games</a> |
    <% end %>
    <% if request.original_fullpath != "/teams" %>
      <a href="/teams">All Games</a> |
    <% end %>
    <% if request.original_fullpath != "/teams/table" %>
      <a href="/teams/table">All Teams</a> |
    <% end %>
    <% if request.original_fullpath != "/users/edit" %>
      <a href="/users/edit">Edit Profile</a> |
    <% end %>
    <a href="/sessions/logout">Logout</a>
  <% end %>  
</div>
<%end%>



<% if session[:user_id] != nil %>
<nav class="navbar navbar-default navbar-middle">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/users">Home</a></li>
        <li class="active"><a href="/teams/betable">Upcoming games <span class="sr-only">(current)</span></a></li>
        <li><a href="/teams/table">Season standings</a></li>
        <li class="active"><a href="/teams">All Games <span class="sr-only">(current)</span></a></li>
        <li><a href="/favorite">Favorites</a></li>

          </ul>
        </li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text">Signed in as <%if current_user%> <%=current_user.username%> <%end%> </p>
        <li><a href="/users/edit">Edit Profile</a></li>
        <li><a href="/sessions/logout">Logout</a></li>

      
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%end%>
<div class= "text-center">

<% if flash[:message]%>
      <h4 class="text-info"> <%=flash[:message]%> </h4>
<%end%>      
<% if flash[:error]%>     
    <h4 class='text-danger'>  <%=flash[:error]%> </h4>  
<% end %>
</div>
<%= yield %>

</body>
</html>
